.count-container {
    width: 60%;
    margin:  10px auto;
    background-color: lightgrey;
    padding: 6px;
}

.contador {
    width: 30%;
    color: black;
    background-color: transparent;
    margin-bottom: 4px;
}

.cantidad-container {
    width: 30%;
    padding: 6px;
}