.itemList {
    margin: 20px auto;
    width: 80%;
    height: fit-content;
    background-color: #FFFBD1;
    padding: 10px;
}

h2{
    color: brown;
}

.cargando {
    color: lightgrey;
    margin: auto
}
