p {
    color:brown;
    width: 16vw;
    text-transform: capitalize;
    font-weight: bold;
}

img {
    width: 100px;
    height: 20vh;
    margin: auto;
}

.cardItem {
    padding: 8px;
    margin: 8px;
    width: 10em;
}

